<!DOCTYPE html>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

<html lang="en" dir="ltr">
  <head>
    <title>Part Number Standardization Tool</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <body>
    <!-- create the nav-bar -->
    <div class="navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">links toggle button</span>
            <span class="mdl-color--white white icon-bar"></span>
            <span class="mdl-color--white white icon-bar"></span>
            <span class="mdl-color--white icon-bar"></span>
        </button>
        <a href="#"><span class="navbar-brand">ESP International</span></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float: center;">
            <!-- navbar items -->
            <li><a href="#">First Item2345</a></li>
            <li><a href="#">Second Item2345</a></li>
            <li><a href="#">Third Item2345</a></li>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
        </ul>
    </div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
